* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

html, body {
    height: 100%;
}

body {
    font-family: Stolzl, Helvetica, sans-serif;
    font-weight: lighter;
    color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInUp 0.8s ease-out forwards;
}

nav {
    height: 97px;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#logo {
    width: 63px;
    height: 63px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
}

.navigation a {
    font-weight: 200;
    text-decoration: none;
    color: blue;
}

.navigation a:hover {
    font-weight: normal;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 9rem 1rem 0 1rem;
    margin-bottom: 8rem;
}

.education {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 348px;
}

.entry {
    display: flex;
    flex-direction: column;
    position: relative;
    border-left: 2px solid blue;
}

.period {
    font-weight: normal;
    padding-left: 0.4rem;
    margin-bottom: .8rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: .3rem;
}

.institution {
    font-weight: 200;
    padding-left: 1.5rem;
}

.institutionSecondary {
    font-weight: 200;
    padding-left: 4.5rem;
}

.location {
    font-weight: 200;
    font-style: italic;
    padding-left: .5rem;
}

.course {
    padding-left: 3rem;
    font-weight: normal;
}

.courseSecondary {
    padding-left: 6rem;
    font-weight: normal;
}

.date {
    padding-left: 3rem;
    margin-top: .8rem;
}

#career {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    width: 50%;
    padding: 7rem 1rem 0 1rem;
    min-width: 348px;
}

h1 {
    font-size: 3.5rem;
    font-weight: 200;
    margin-bottom: 2rem;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 0 1rem;
    width: 50%;
    min-width: 600px;
}

#about div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
    width: 60%;
}

#profielfoto {
    height: 174px;
    width: 348px;
    border-right: 174px solid blue;
}

footer {
    height: 40px;
    padding: 10px 0;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: blue;
    border-top: .5px solid blue;
    margin-top: 8rem;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    font-weight: 200;
}

#selected {
    font-weight: normal;
}

/*World map & hover selections*/
.world {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 4rem;
}


#map {
    width: 90%;
    margin: 4rem 0;
}

.cls-1 {
    fill: none;
    stroke: blue;
    stroke-miterlimit: 10;
    stroke-width: .5px;
}

.visited {
    fill: blue;
    stroke: white;
    stroke-miterlimit: 10;
    stroke-width: .5px;
}


@media screen and (max-width: 1050px) {

    main {
        flex-direction: column;
        align-items: center;
    }

    #about div{
        width: 348px;
    }

    #career {
        align-items: center;
        gap: 8rem;
        padding-top: 10rem;
    }

    #profielfoto {
        align-self: center;
        position: static;
    }

    h1 {
        align-self: inherit;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    #career {
        width: 100%;
        min-width: 0;
    }

    #about {
        width: 100%;
        min-width: 0;
    }

    #about div{
        width: 100%;
    }

    .map {
        width: 100%;
    }
}

svg path {
    transition: all 0.3s ease; /* smooth effect */
    transform-box: fill-box;
    transform-origin: center;
}

svg path:hover {
    transform-origin: center;  /* scale from center */
    scale: calc(1.05);
}

#popUp {
    position:absolute;
    background: #c4c4ff;
    color: white;
    padding:6px 10px;
    border-radius:6px;
    display:none;
    max-width:200px;
    font-size:1rem;
    line-height:1.4;
}





