* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

html, body {
    height: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    color: blue;
    display: flex;
    flex-direction: column;
    animation: fadeInUp 0.8s ease-out forwards;
}

nav {
    height: 97px;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#logo {
    width: 63px;
    height: 63px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
}

.navigation a {
    text-decoration: none;
    color: blue;
}

.navigation a:hover {
    font-weight: normal;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 9rem 1rem 0 1rem;
    margin-bottom: 8rem;
}

.education {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    min-width: 380px;
}

.entry {
    display: flex;
    flex-direction: column;
    position: relative;
    border-left: 3px solid blue;
}

.period {
    font-weight: bold;
    padding-left: 0.4rem;
    margin-bottom: .8rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: .3rem;
}

.institution {
    padding-left: 1.5rem;
}

.institutionSecondary {
    padding-left: 4.5rem;
}

.location {
    font-style: italic;
    padding-left: .5rem;
}

.course {
    padding-left: 3rem;
    font-weight: bold;
}

.courseSecondary {
    padding-left: 6rem;
    font-weight: bold;
}

.date {
    padding-left: 3rem;
    margin-top: .8rem;
}

#career {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    width: 50%;
    padding-top: 5rem;
}

.title {
    font-size: 3.5rem;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 50%;
    min-width: 600px;
}

#about div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
    width: 60%;
}

#profielfoto {
    height: 190px;
    width: 380px;
    border-right: 190px solid blue;
}

footer {
    height: 40px;
    padding: 10px 0;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: blue;
    border-top: .5px solid blue;
}

#selected {
    font-weight: normal;
}

@media screen and (max-width: 1050px) {

    main {
        flex-direction: column;
        align-items: center;
    }

    #about div{
        width: 380px;
    }

    #career {
        align-items: center;
        gap: 8rem;
        padding-top: 10rem;
        min-width: 380px;
    }

    #profielfoto {
        align-self: center;
        position: static;
    }
}
