* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    color: blue;
    animation: fadeInUp 0.8s ease-out forwards;
}

nav {
    height: 97px;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#logo {
    width: 63px;
    height: 63px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
}

.navigation a {
    text-decoration: none;
    color: blue;
}

.navigation a:hover {
    font-weight: normal;
}

#selected {
    font-weight: normal;
}

main {
    display: flex;
    flex-direction: column;
    padding: 8rem 1rem 0 1rem;
    flex: 1;
}

main div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

main div a {
    text-decoration: none;
    color: blue;
    font-size: 3.5rem;
    padding: 0 0 0.2rem 0.5rem;
}

main div a:hover {
    background-color: blue;
    color: white;
}

footer {
    height: 40px;
    padding: 10px 0;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: blue;
    border-top: .5px solid blue;
}

@media screen and (max-width: 500px) {
    main div {
        top: 11rem;
    }
}

