* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    color: blue;
}

nav {
    height: 97px;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#logo {
    width: 63px;
    height: 63px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
}

.navigation a {
    text-decoration: none;
    color: blue;
}

.navigation a:hover {
    font-weight: normal;
}

main div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10rem 1rem 0 1rem;
    flex: 1;
    width: 70%;
}

main div p {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 2rem;
}

footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    padding: 10px 0;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: blue;
    border-top: .5px solid blue;
}

.normal {
    font-weight: normal;
}

