* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

body {
    background-color: white;
    font-family: Stolzl, Helvetica, sans-serif;
    font-weight: lighter;
    color: blue;
    animation: fadeInUp 0.8s ease-out forwards;
}

nav {
    height: 97px;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#logo {
    width: 63px;
    height: 63px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
}

.navigation a {
    font-weight: 200;
    text-decoration: none;
    color: blue;
}

.navigation a:hover {
    font-weight: normal;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

h1 {
    padding-bottom: .5rem;
    margin: 2rem 0;
}

h2 {
    padding-bottom: .5rem;
    border-bottom: 2px solid blue;
    margin-bottom: 1rem;
    font-weight: normal;
}

h3 {
    margin-bottom: .5rem;
    font-weight: normal;
}

p {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    text-align: justify;
}

table {
    border-collapse: collapse;
    margin-bottom: 2rem;
    max-width: 959.5px;
}

td {
    border: .5px solid blue;
    padding: .5rem;
    width: 50%;
}

footer {
    height: 40px;
    padding: 10px 0;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: blue;
    border-top: .5px solid blue;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    font-weight: 200;
}

@media screen and (max-width: 500px) {


    main div {
        width: 250px;
        top: 16rem;
    }
}

