* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    color: blue;
}

nav {
    height: 97px;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#logo {
    width: 63px;
    height: 63px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
}

.navigation a {
    text-decoration: none;
    color: blue;
}

.navigation a:hover {
    font-weight: normal;
}

#selected {
    font-weight: normal;
}

#contentTable {
    height: 46rem;
    padding: 10rem 1rem 0 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#contentTable a {
    text-decoration: none;
    color: blue;
    font-size: 4rem;
    padding: 0 0 0.2rem 0.5rem;
}

#contentTable a:hover {
    background-color: blue;
    color: white;
}

.tab {
    position: sticky;
    top: 0;

    width: 100%;
    height: 50px;
    padding-left: 1rem;

    background-color: white;
    color: blue;
    font-size: 2rem;
    border: .5px solid blue;

    display: flex;
    align-items: center;
    Z-index: 10;
}

.smallTab {
    position: sticky;
    top: 50px;

    width: 100%;
    height: 40px;
    padding-left: 1rem;

    background-color: white;
    color: blue;
    font-size: 1.5rem;
    border: .5px solid blue;

    display: flex;
    align-items: center;
    Z-index: 10;
}

.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    width: 50%;
    position: relative;
}

article img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
}

article:hover .overlay {
    opacity: 1;
}

.bigImage {
    width: 100%;
}

.photo {
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.portret {
    width: 50%;
}

.landscape {
    width: 88.9%;
}

#goToTop {
    position: fixed;
    right: 1rem;
    bottom: 1rem;

    padding: 0.8rem;
    background-color: blue;
    color: white;
    border-radius: 1rem;

    cursor: pointer;
    Z-index: 11;
}

footer {
    height: 40px;
    padding: 10px 0;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: blue;
    border-top: .5px solid blue;
}

@media screen and (max-width: 750px) {
    .work {
        flex-direction: column;
    }

    article {
        width: 100%;
    }

    #intro {
        height: 45rem;
    }

    #tekst {
        top: 9rem;
    }

    #EOPA-cover {
        content:url("../content/EOPA/covers_vertical.png");
    }

    #EOPA-spreads {
        content:url("../content/EOPA/spreads_vertical.png");
    }
}

