* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0000FF;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}

nav {
    height: 97px;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#logo {
    width: 81px;
    height: 81px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    font-weight: normal;
}

main {
    display: flex;
    flex-direction: row;
    margin: 0 auto 5rem;
}

#beelden {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 2rem 10rem;
    width: 50%;
}

#profielfoto {
    align-self: flex-end;
}

#tekst {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 10rem;
}

#tekst div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
}

footer {
    height: 40px;
    padding: 10px 0;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: black;
}

#selected {
    font-weight: normal;
}

.title {
    font-weight: normal;
    font-size: 3rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 430px) {

    #tekst {
        width: 250px;
    }
}
