* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    color: blue;
}

nav {
    height: 97px;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#logo {
    width: 81px;
    height: 81px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
}

.navigation a {
    text-decoration: none;
    color: blue;
}

.navigation a:hover {
    font-weight: normal;
}

main {
    display: flex;
    flex-direction: row;
    margin: 0 auto 5rem;
}

#beelden {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    width: 50%;
}

#tekst {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 50%;
    min-width: 600px;
}

#tekst div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
    width: 357px;
}

#profielfoto {
    align-self: flex-end;
    position: relative;
    top: 7.5rem;
}

footer {
    height: 40px;
    padding: 10px 0;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: blue;
    border-top: .5px solid blue;
}

#selected {
    font-weight: normal;
}

.title {
    font-weight: normal;
    font-size: 3rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1050px) {

    main {
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
    }

    #tekst {
        margin-top: 8rem;
    }

    #tekst div{
        width: 340px;
    }

    #beelden {
        align-items: center;
        gap: 8rem;
    }

    #profielfoto {
        align-self: center;
        position: static;
    }
}
