* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0000FF;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    color: white;
}

nav {
    height: 97px;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#logo {
    width: 81px;
    height: 81px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    font-weight: normal;
}

#selected {
    font-weight: normal;
}

main {
    height: 580px;
    display: flex;
    justify-content: center;
}

main div {
    width: 270px;
    position: relative;
    top: 13rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: justify;
    text-align-last: justify;
}

main div a {
    text-decoration: none;
    color: white;
}

main div a:hover {
    font-weight: normal;
}

footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    padding: 10px 0;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: black;
}

