* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    color: blue;
}

nav {
    height: 97px;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#logo {
    width: 81px;
    height: 81px;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
}

.navigation a {
    text-decoration: none;
    color: blue;
}

.navigation a:hover {
    font-weight: normal;
}

#selected {
    font-weight: normal;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro {
    height: 35rem;
}

#goToTop {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    padding: 0.5rem;
    background-color: blue;
    color: white;
}

#tekst {
    width: 270px;
    position: relative;
    top: 13rem;
    margin: 0 auto 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.tab {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    color: blue;
    border: .5px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab span {
    display: inline-block;
    font-size: 2rem;
    text-align-last: justify;
    width: 90%;
}

.smallTab {
    width: 100%;
    height: 50px;
    background-color: white;
    color: blue;
    border: .5px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smallTab span {
    display: inline-block;
    font-size: 1.5rem;
    width: 90%;
}

#books {
    position: sticky;
    top: 100px;
}

#posters {
    position: sticky;
    top: 150px;
}

#digital {
    position: sticky;
    top: 0;
}

#websites {
    position: Sticky;
    top: 100px;
}

#photography {
    position: sticky;
    top: 150px;
}

.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    width: 50%;
}

.grootBeeld {
    width: 100%;
}

.photo {
    background-color: white;
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.portret {
    width: 50%;
}

.landscape {
    width: 88.9%;
}


footer {
    height: 40px;
    padding: 10px 0;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: blue;
    border-top: .5px solid blue;
}

@media screen and (max-width: 750px) {
    .work {
        flex-direction: column;
    }

    article {
        width: 100%;
    }
}

